body {
    background-color: #f7f7f7;
}

form {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #222;
    background-color: #f7f7f7;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333;
}