<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" type="text/css" href="../static/css/list.css">
</head>
<body>
<div th:switch="${employees}">
    <h2 th:case="null">No employees found!</h2>
    <div th:case="*">
        <h2 th:text="'Employees (' + ${#lists.size(employees)} + ')'"></h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.position}"></td>
                <td th:text="${employee.phoneNumber}"></td>
                <td th:text="${employee.emailAddress}"></td>
                <td><a th:href="@{employee-update/{id}(id=${employee.id})}">Edit</a></td>
                <td><a th:href="@{employee-delete/{id}(id=${employee.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/employee-create">Create employee</a></p>
    <p><a href="/projects">Projects</a></p>
    <p><a href="/work_time">Logs</a></p>
</div>
</body>
</html>