<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Projects</title>
  <link rel="stylesheet" type="text/css" href="../static/css/list.css">
  <script src="../static/js/TableSort.js"></script>
</head>
<body>
<div th:switch="${projects}">
  <h2 th:case="null">No projects found!</h2>
  <div th:case="*">
    <h2 th:text="'Projects (' + ${#lists.size(projects)} + ')'"></h2>
    <table>
      <thead>
      <tr>
        <th data-sort="id">Id<i data-direction class="fas"></i></th>
        <th data-sort="projectName">Project name<i data-direction class="fas"></i></th>
        <th data-sort="budget">Budget<i data-direction class="fas"></i></th>
        <th data-sort="startDate">Start Date<i data-direction class="fas"></i></th>
        <th data-sort="deadline">Deadline<i data-direction class="fas"></i></th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="project : ${projects}">
        <td data-property="id" th:text="${project.id}"></td>
        <td data-property="projectName" th:text="${project.projectName}"></td>
        <td data-property="budget" th:text="${project.budget}"></td>
        <td data-property="startDate" th:text="${project.startDate}"></td>
        <td data-property="deadline" th:text="${project.deadline}"></td>
        <td><a th:href="@{project-update/{id}(id=${project.id})}">Edit</a>
          <a th:href="@{project-delete/{id}(id=${project.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/project-create">Create project</a></p>
  <p><a href="/employees">Employees</a></p>
  <p><a href="/work_time">Logs</a></p>
</div>
</body>
</html>