<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" type="text/css" href="../static/css/list.css" />
    <script src="../static/js/TableSort.js"></script>
</head>
<body>
<div th:switch="${worktimes}">
    <h2 th:case="null">No logs found!</h2>
    <div th:case="*">
        <h2 th:text="'Logs (' + ${#lists.size(worktimes)} + ')'"></h2>
        <table>
            <thead>
            <tr>
                <th data-sort="id" a>Id<i data-direction class="fas"></i></th>
                <th data-sort="employeeId">Employee Id<i data-direction class="fas"></i></th>
                <th data-sort="projectId">Project Id<i data-direction class="fas"></i></th>
                <th data-sort="startTime">Start Time<i data-direction class="fas"></i></th>
                <th data-sort="endTime">End Time<i data-direction class="fas"></i></th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="worktime : ${worktimes}">
                <td data-property="id" th:text="${worktime.id}"></td>
                <td data-property="employeeId" th:text="${worktime.employeeId}"></td>
                <td data-property="projectId" th:text="${worktime.projectId}"></td>
                <td data-property="startTime" th:text="${worktime.startTime}"></td>
                <td data-property="endTime" th:text="${worktime.endTime}"></td>
                <td><a th:href="@{work_time-update/{id}(id=${worktime.id})}">Edit</a>
                    <a th:href="@{work_time-delete/{id}(id=${worktime.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/work_time-create">Create log</a></p>
    <p><a href="/employees">Employees</a></p>
    <p><a href="/projects">Projects</a></p>
</div>
</body>
</html>
